- const cards = [{altText:"Комната в бело-серых тонах",title:"3D-дизайн",content:"Идейные соображения высшего порядка, а&nbsp;также внедрение современных методик обеспечивает актуальность глубокомысленных рассуждений."},{altText:"Круглая гостиная в бело-коричневых тонах",title:"Ремонт",content:"Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что глубокий уровень погружения допускает внедрение своевременного выполнения сверхзадачи."},{altText:"Большой кирпичный дом",title:"Строительство",content:"Мы вынуждены отталкиваться от того, что глубокий уровень погружения допускает внедрение своевременного выполнения сверхзадачи."},{altText:"Сад на заднем дворе",title: "Ландшафтный дизайн",content:"Идейные соображения высшего порядка обеспечивает актуальность глубокомысленных рассуждений."}]
section.services
  .container
    h2.title.title--section Основные услуги
    ul.services__list
      each card,index in cards
        li.services__item
          +service-card(card,index)
