-const aboutUs=["Требуется высокое качество ремонтных работ","Нужно четко соблюсти Бюджет","Необходимо ответственно подойти к&nbsp;процессу"]
section.about-us
  .container
    .about-us__img
      +picture("content", "about-us", "jpg", 1920, 787, "Коричневый кожанный диван")
    h2.title.title--l Мы там,&nbsp;где
    +list(aboutUs)
