- const images = ["Белая гостиная с большим коричневым диваном","Гостиная в сине-белых тонах с желтыми креслами","Бело-бежевая гостиная","Белая спальня с зеленой стеной и бежевой кроватью","Бежево-белая кухня","Светлая бело-серая спальня с большой кроватью","Белая стена с черным стелажом и зелеными горшочными растениями на полу","Белая стена с двумя черными рамками для картин и белым столом с черными стульями перед ней"]
section.instagram
  .container
    span.instagram__title
      +icon("instagram", 255, 72)
    ul.instagram__imges
      each img,index in images
        li.instagram__img
          +picture("content", `inst-${index + 1}`, "jpg", 417, 417, img)
