section.intro
  +picture("content", "intro", "jpg", 1920, 1080, "комната с камином, столом и кроватью")
  h2.title.title--l Лучшее для&nbsp;лучших
  .intro__btns
    +btn({tag:"button", type: "button", text: "Проекты", label:"Нажмите для перехода к проектам"}).btn--bg-o
    +btn({tag:"button", type: "button", text: "Расчитать стоймость", label:"Нажмите для перехода к расчету стоймости"}).btn--bg-o
